<h1>Tickets</h1>
<table>
  <thead>
  <tr>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <% event = Event.find_by(id: ticket.event) %>
    <tr>
      <td><%= ticket.description %></td>
      <td><%= ticket.price %></td>
      <td><%= ticket.event.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', tickets_new_path %>
