<h1>Your tickets</h1>
<table>
  <thead>
  <tr>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @user_tickets.each do |user_ticket| %>
    <tr>
      <td><%= user_ticket.ticket.description %></td>
      <td><%= user_ticket.ticket.price %></td>
      <td><%= user_ticket.ticket.event.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
